:root {
    --one-color: #27374D;
    --two-color: #526D82;
    --three-color: #9DB2BF;
    --four-color: #DDE6ED;
    --accent-color:#D21312;
    --accent2-color:#00E5FF;   
}

*{
    box-sizing: border-box;
    color: var(--four-color)
}

html{
    background-color:  var(--one-color);  
}

#content{
    background-color:  var(--one-color);  
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    "headerBox headerBox headerBox headerBox headerBox"
    "sideBox mainBox mainBox mainBox mainBox";
}

#logo{
    width: 4rem; 
}

#login{
    width: 4rem;
}

.svg{
    /* filter: invert(16%) sepia(81%) saturate(3883%) hue-rotate(354deg) brightness(92%) contrast(96%); */
    filter: invert(51%) sepia(36%) saturate(3669%) hue-rotate(160deg) brightness(92%) contrast(106%);
}

.headerBox {
    grid-area: headerBox;
    align-items: center; 
    background-color: var(--two-color);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.headerBox{
    display: flex;
}

.headerBox h1{
    padding-left: 1rem;
}

.headerBox object:last-child{
    margin-left: auto;
}



.controlsSidebarDiv, .controlsMainDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statusButton{
    color:#00E5FF;
    background-color: #526D82;
}

.sideBox {
    grid-area: sideBox;
    background-color: var(--two-color);
    border-radius: 1rem;
    padding: 1rem;
}

.selected{
    background-color:  var(--two-color) !important;
    outline: 4px solid var(--one-color) !important;
}

 .projectItem {
    padding: .5rem;
    margin: .5rem;
    background-color:  var(--one-color);  
    box-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteButtonDiv{
    padding: .5rem;
    margin: .5rem;
    background-color: darkred;  
    box-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--three-color)
}

.addButtonDiv{
    padding: .5rem;
    margin: .5rem;
    background-color:  green;  
    box-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--three-color)
}

.mainBox {
    grid-area: mainBox;
    background-color: var(--two-color);
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.mainBox h2{
    text-align: center;
}

.statusContainer h2{
    text-align: left;
    margin-top: 1rem;
}

.mainBox .statusItems{
    padding: .5rem;
    margin: .5rem;
    background-color:  var(--one-color);  
    box-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.statusItems .taskItem{
    grid-column: 1/3;
    border-top: 1px solid var(--accent2-color);
    padding-top: .5rem;
    margin-bottom: .5rem;
}

.statusItems p:nth-child(2){
    text-align-last: right;
}

@media screen and (max-width: 650px) {
    #content {

        grid-template-areas:
            "headerBox"
            "sideBox"
            "mainBox";
    }

.mainBox, .sideBox{
    margin: 0;
    margin-top: .5rem;

}

.headerBox{
    margin-bottom: 0;
    font-size:1rem;
}

#logo, #login{
    width: 2rem; 
}

.headerBox h1{
    margin: .5rem;
}

}